@font-face {
  src: url("/css/fonts/sofiaPro.ttf");
  font-family: sofiaPro;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

body {
  overflow-x: hidden;
  font-family: sofiaPro;
  min-height: 100vh;
}

.wrapper {
  padding: 3rem 5rem;
}

#landingPage {
  min-height: 100vh;
}

#landingPage .bg {
  position: absolute;
  z-index: -1;
  right: 0;
  -o-object-fit: cover;
     object-fit: cover;
  width: 70%;
  height: 70%;
}

#landingPage .flexxed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  padding-right: 5rem;
}

#landingPage .flexxed button {
  width: unset;
  background-color: transparent;
  border: 2.5px solid #FF6B2C;
  border-radius: 30px;
  color: #3C67FF;
  padding: 0 3rem;
  font-size: 17px;
  font-weight: 600;
  margin-left: 2rem;
  -webkit-transition: 1s ease-in-out all;
  transition: 1s ease-in-out all;
}

#landingPage .flexxed button:hover {
  background-color: #3C67FF;
  color: #fff;
  border-color: transparent;
}

#landingPage nav {
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#landingPage nav img {
  width: 80px;
}

#landingPage nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#landingPage nav ul li {
  padding: 1rem 2rem;
  margin: 0 1rem;
  border-radius: 45px;
  background-color: transparent;
  -webkit-transition: 2s ease all;
  transition: 2s ease all;
}

#landingPage nav ul li a {
  color: #000;
  font-weight: 600;
  font-size: 17px;
}

#landingPage nav ul li:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

#landingPage .main_title {
  font-size: 60px;
  color: #3C67FF;
  margin: 3rem 0;
}

#landingPage .tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 3rem 0;
}

#landingPage .tags .tag {
  background-color: #FF6B2C;
  color: #fff;
  padding: 1rem 2rem;
  border-radius: 45px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#landingPage .tags .tag h1 {
  font-size: 22px;
}

#landingPage .tags .tag:first-child {
  margin-right: 3rem;
}

#landingPage header {
  margin: 3rem 0;
}

#landingPage header p {
  font-size: 19px;
  margin: 2rem 0;
  color: rgba(0, 0, 0, 0.8);
}

#landingPage header p:first-child {
  color: black;
}

#landingPage button {
  width: 230px;
  height: 70px;
  background-color: #3C67FF;
  outline: none;
  border: none;
  cursor: pointer;
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 2rem;
  margin: 3rem 0;
  color: #fff;
  -webkit-transition: 1s ease all;
  transition: 1s ease all;
}

#landingPage button h1 {
  font-size: 20px;
}

#landingPage button:hover {
  background-color: #1d4dfa;
}

@media screen and (min-width: 2561px) and (max-width: 4000px) {
  #landingPage .wrapper {
    padding: 7rem;
  }
  #landingPage nav img {
    width: 200px;
  }
  #landingPage nav ul li a {
    font-size: 40px;
  }
  #landingPage .main_title {
    font-size: 160px;
    margin: 5rem 0;
  }
  #landingPage .tags .tag {
    padding: 2.5rem 4.5rem;
    border-radius: 90px;
  }
  #landingPage .tags .tag h1 {
    font-size: 55px;
  }
  #landingPage header p {
    margin: 7rem 0;
    font-size: 48px;
  }
  #landingPage button {
    width: 500px;
    height: 160px;
  }
  #landingPage button img {
    width: 100px;
  }
  #landingPage button h1 {
    font-size: 45px;
  }
  #landingPage .flexxed button {
    border-width: 5.5px;
    padding: 4rem;
    border-radius: 60px;
    font-size: 42px;
    margin-left: 4rem;
  }
  #landingPage .flexxed img {
    width: 40px;
  }
}

@media screen and (min-width: 1921px) and (max-width: 2560px) {
  #landingPage .tags .tag {
    padding: 1.75rem 3rem;
    margin: 4rem 0;
  }
  #landingPage .tags .tag h1 {
    font-size: 35px;
  }
  #landingPage header p {
    font-size: 32px;
    margin: 4rem 0;
  }
  #landingPage button {
    width: 330px;
    height: 100px;
    margin: 10rem 0;
  }
  #landingPage button h1 {
    font-size: 30px;
  }
  #landingPage button img {
    width: 60px;
  }
  #landingPage .flexxed button {
    border-width: 4.5px;
    padding: 3rem 5rem;
    font-size: 28px;
    margin-left: 3rem;
  }
}

@media screen and (max-width: 1100px) {
  #landingPage header p, #landingPage .main_title {
    text-align: center;
  }
  #landingPage header p {
    margin: 3rem 0;
  }
  #landingPage .tags {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #landingPage button {
    margin: 0 auto;
  }
  #landingPage .flexxed {
    display: none;
  }
  #landingPage .bg {
    left: 15%;
  }
}

@media screen and (max-width: 600px) {
  #landingPage .wrapper {
    padding: 3rem;
  }
  #landingPage .tags {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #landingPage .tags .tag:first-child {
    margin-right: 0;
  }
}

@media screen and (max-width: 500px) {
  #landingPage button {
    width: 100%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  #landingPage .tags {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #landingPage .tags .tag:first-child {
    margin-bottom: 3rem;
  }
  #landingPage .main_title {
    font-size: 53.5px;
  }
  #landingPage header p {
    margin: 4rem 0;
  }
  #landingPage nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
  }
}

@media screen and (max-width: 400px) {
  #landingPage .wrapper {
    padding: 2rem;
  }
}

@media screen and (max-width: 350px) {
  #landingPage .main_title {
    font-size: 47px;
  }
  #landingPage button {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

#web {
  min-height: 100vh;
  position: relative;
}

#web .wrapper {
  padding: 1rem 5rem;
}

#web .main_title {
  font-size: 60px;
  margin: 3rem 0;
}

#web header {
  margin: 5rem 0;
}

#web header p {
  font-size: 20px;
  margin: 3rem 0;
}

#web header .main {
  color: #FF6B2C;
  font-size: 26px;
  font-weight: 600;
}

#web .flexBtn {
  position: absolute;
  bottom: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#web .flexBtn button {
  background-color: #3C67FF;
  outline: none;
  border: none;
  cursor: pointer;
  width: 250px;
  height: 70px;
  padding: 0 2rem;
  margin-right: 2rem;
  -webkit-transition: 1s ease all;
  transition: 1s ease all;
}

#web .flexBtn button h1 {
  color: #fff;
  font-size: 19px;
  font-weight: 600;
}

#web .flexBtn button:hover {
  background-color: #1d4dfa;
}

#web .flexBtn img {
  width: 45px;
}

#web .imgWeb {
  position: absolute;
  top: 50%;
  left: 70%;
  -webkit-transform: translate(-70%, -50%);
          transform: translate(-70%, -50%);
  width: 40%;
}

@media screen and (min-width: 2561px) and (max-width: 4000px) {
  #web header p {
    font-size: 48px;
    margin: 7rem 0;
  }
  #web header .main {
    font-size: 60px;
  }
  #web .imgWeb {
    width: 45%;
  }
  #web .flexBtn button {
    width: 560px;
    height: 180px;
    margin-right: 5rem;
  }
  #web .flexBtn button h1 {
    font-size: 48px;
  }
  #web .flexBtn img {
    width: 100px;
  }
}

@media screen and (min-width: 1921px) and (max-width: 2560px) {
  #web .imgWeb {
    width: 50%;
  }
  #web header p {
    font-size: 32px;
    margin: 5rem 0;
  }
  #web header .main {
    font-size: 37px;
  }
  #web .flexBtn button {
    width: 430px;
    height: 120px;
    margin-right: 3rem;
  }
  #web .flexBtn button h1 {
    font-size: 30px;
  }
  #web .flexBtn img {
    width: 70px;
  }
}

@media screen and (max-width: 1100px) {
  #web .flexBtn {
    position: unset;
    margin: 5rem 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  #web .imgWeb {
    position: unset;
    -webkit-transform: translate(0);
            transform: translate(0);
    width: 60%;
    display: block;
    margin: 0 auto;
  }
  #web .main_title, #web header p {
    text-align: center;
  }
}

@media screen and (max-width: 900px) {
  #web .imgWeb {
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  #web .wrapper {
    padding: 2rem;
  }
  #web .main_title {
    font-size: 50px;
  }
}

@media screen and (max-width: 400px) {
  #web .flexBtn {
    display: block;
  }
  #web .flexBtn button {
    width: 100%;
    margin-right: 0;
    margin: 2rem 0;
  }
}

@media screen and (max-width: 350px) {
  #web .main_title {
    font-size: 47px;
  }
}

#mockups {
  min-height: 100vh;
  background-color: #3C67FF;
}

#mockups .swiper-button-next, #mockups .swiper-button-prev {
  color: #FF6B2C;
}

#mockups .wrapper .swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#mockups .wrapper div h1 {
  color: #fff;
  padding-bottom: 3rem;
  font-size: 45px;
  text-align: center;
}

@media screen and (min-width: 2561px) and (max-width: 4000px) {
  #mockups .wrapper div h1 {
    font-size: 140px;
    padding-bottom: 9rem;
  }
  #mockups .imageSlide {
    width: 90%;
  }
  #mockups .swiper-button-prev:after, #mockups .swiper-button-next:after {
    font-size: 100px;
  }
}

@media screen and (min-width: 1921px) and (max-width: 2560px) {
  #mockups .wrapper {
    padding: 5rem;
  }
  #mockups .wrapper div h1 {
    font-size: 80px;
    padding-bottom: 5rem;
  }
  #mockups .imageSlide {
    width: 80%;
  }
}

@media screen and (max-width: 500px) {
  #mockups .wrapper {
    padding: 2rem;
  }
}

footer {
  background-color: #fff;
  width: 100%;
  height: 10vh;
}

footer .wrapper {
  height: 100%;
  width: 100%;
  padding: 0 5rem;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .wrapper div a {
  color: #000;
  font-weight: 600;
  font-size: 17px;
  padding: 1rem 2rem;
  border-radius: 45px;
  background-color: transparent;
  -webkit-transition: 2s ease all;
  transition: 2s ease all;
}

footer .wrapper a:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

footer .wrapper .goOn {
  cursor: pointer;
}

@media screen and (max-width: 500px) {
  footer .wrapper {
    padding: 2rem;
  }
}

@media screen and (max-width: 400px) {
  footer {
    height: 25vh;
  }
  footer .wrapper {
    padding: 3rem 2rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .wrapper div a {
    padding: 0 1rem;
  }
}

@media screen and (min-width: 2561px) and (max-width: 4000px) {
  #landingPage .wrapper, #web .wrapper, #mockups .wrapper {
    padding: 7rem;
  }
  #landingPage .main_title, #web .main_title, #mockups .main_title {
    font-size: 160px;
  }
  #landingPage nav ul li a, footer .wrapper div a {
    font-size: 40px;
  }
  footer .wrapper .goOn {
    width: 100px;
  }
}

@media screen and (min-width: 1921px) and (max-width: 2560px) {
  #landingPage .main_title, #web .main_title, #mockups .main_title {
    font-size: 100px;
  }
  #landingPage nav ul li a, footer .wrapper div a {
    font-size: 28px;
  }
  footer .wrapper .goOn {
    width: 80px;
  }
}

@media screen and (max-width: 900px) and (orientation: landscape) {
  footer {
    height: 25vh;
  }
}
/*# sourceMappingURL=style.css.map */