@font-face{
    src: url('/css/fonts/sofiaPro.ttf');
    font-family: sofiaPro;
}

$blue: #3C67FF;
$orange: #FF6B2C;

@mixin center(){
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin abs(){
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

html{ scroll-behavior: smooth; overflow-x: hidden;}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body{
    overflow-x: hidden;
    font-family: sofiaPro;
    min-height: 100vh;
}

.wrapper{
    padding: 3rem 5rem;
}

#landingPage{
    min-height: 100vh;

    // BACKGROUND GRAY
    .bg{
        position: absolute;
        z-index: -1;
        right: 0;
        object-fit: cover;
        width: 70%;
        height: 70%;
    }

    // BUTTON WHY SITE?
    .flexxed{
        display: flex;
        align-items: center;

        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        padding-right: 5rem;

        button{
            width: unset;
            background-color: transparent;
            border: 2.5px solid #FF6B2C;
            border-radius: 30px;
            color: #3C67FF;
            padding: 0 3rem;
            font-size: 17px;
            font-weight: 600;
            margin-left: 2rem;
            transition: 1s ease-in-out all;
        }
        button:hover{
            background-color: #3C67FF;
            color: #fff;
            border-color: transparent;
        }
    }

    // NAVBAR
    nav{
        height: 10vh;
        display: flex;
        align-items: center;
        justify-content: space-between;
        img{
            width: 80px;
        }

        ul{
            display: flex;
            align-items: center;
            li{
                padding: 1rem 2rem;
                margin: 0 1rem;
                border-radius: 45px;
                background-color: transparent;
                a{ color: #000; font-weight: 600;font-size: 17px;}
                transition: 2s ease all;
            }
            li:hover{
                background-color: rgba(0,0,0,0.1);
            }
        }
    }

    // H1 TITLE
    .main_title{
        font-size: 60px;
        color: #3C67FF;
        margin: 3rem 0;
    }

    // TAGS
    .tags{
        display: flex;
        align-items: center;
        margin: 3rem 0;

        .tag{
            background-color: #FF6B2C;
            color: #fff;
            padding: 1rem 2rem;
            border-radius: 45px;
            h1{ font-size: 22px; }
            user-select: none;
        }
        .tag:first-child{
            margin-right: 3rem;
        }
    }

    // HEADER P TAGS
    header{
        margin: 3rem 0;
        p{
            font-size: 19px;
            margin: 2rem 0;
            color: rgba(0,0,0,0.8);
        }
        p:first-child{ color: rgb(0,0,0); }
    }

    // BUTTON "PARLIAMO"
    button{
        width: 230px;
        height: 70px;

        background-color: #3C67FF;
        outline: none;
        border: none;
        cursor: pointer;
        display: block;

        display: flex;
        align-items: center;
        justify-content: space-between;

        padding: 0 2rem;
        margin: 3rem 0;
        color: #fff;
        h1{ font-size: 20px; }

        transition: 1s ease all;
    }

    button:hover{
        background-color: #1d4dfa;
    }

    //! MEDIA QUERIES FOR THE LANDING PAGE

    @media screen and (min-width: 2561px) and (max-width: 4000px){
        .wrapper{
            padding: 7rem;
        }
        
        nav{
            img{ width: 200px; }
            ul li a{ font-size: 40px; }
        }

        .main_title{
            font-size: 160px;
            margin: 5rem 0;
        }

        .tags .tag{
            padding: 2.5rem 4.5rem;
            border-radius: 90px;
            h1{ font-size: 55px; }
        }

        header p{
            margin: 7rem 0;
            font-size: 48px;
        }

        button{
            width: 500px;
            height: 160px;
            img{ width: 100px; }
            h1{ font-size: 45px; }
        }

        .flexxed{
            button{
                border-width: 5.5px;
                padding: 4rem;
                border-radius: 60px;
                font-size: 42px;
                margin-left: 4rem;
            }

            img{ width: 40px; }
        }
    }

    @media screen and (min-width: 1921px) and (max-width: 2560px){
        .tags .tag{
            padding: 1.75rem 3rem;
            h1{ font-size: 35px; }
            margin: 4rem 0;
        }

        header p{
            font-size: 32px;
            margin: 4rem 0;
        }

        button{
            width: 330px;
            height: 100px;
            margin: 10rem 0;
            h1{ font-size: 30px; }
            img{ width: 60px; }
        }

        .flexxed button{
            border-width: 4.5px;
            padding: 3rem 5rem;
            font-size: 28px;
            margin-left: 3rem;
        }
    }

    @media screen and (max-width: 1100px){
        header p, .main_title{
            text-align: center;
        }

        header p{ margin: 3rem 0; }

        .tags{ justify-content: center; }
        
        button{
            margin: 0 auto;
        }

        .flexxed{ display: none; }
        .bg{
            left: 15%;
        }
    }

    @media screen and (max-width: 600px){
        .wrapper{
            padding: 3rem;
        }
        .tags{
            justify-content: space-between;
            .tag:first-child{ margin-right: 0; }
        }
    }

    @media screen and (max-width: 500px) {
        button{
            width: 100%;
            justify-content: space-around;
        }
        .tags{
            flex-direction: column;
            align-items: center;
            .tag:first-child{ margin-bottom: 3rem; }
        }
        .main_title{ font-size: 53.5px; }

        header p{ margin: 4rem 0; }

        nav{
            flex-direction: column;
            height: auto;
        }
    }

    @media screen and (max-width: 400px) {
        .wrapper{
            padding: 2rem;
        }
    }

    @media screen and (max-width: 350px) {
        .main_title{ font-size: 47px; }

        button{ justify-content: space-between; }
    }

    //! END OF MEDIA QUERIES FOR THE LANDING PAGE 

}

#web{
    min-height: 100vh;

    // WRAPPER WITH PADDING
    .wrapper{
        padding: 1rem 5rem;
    }

    // H1 TITLE
    .main_title{
        font-size: 60px;
        margin: 3rem 0;
    }

    // HEADER P TAGS
    header{
        margin: 5rem 0;
        p{
            font-size: 20px;
            margin: 3rem 0;
        }
        .main{
            color: #FF6B2C;
            font-size: 26px;
            font-weight: 600;
        }
    }

    position: relative;

    // BTN AND ICON GROW
    .flexBtn{
        position: absolute;
        bottom: 5rem;

        display: flex;
        align-items: center;
        button{
            background-color: #3C67FF;

            outline: none;
            border: none;
            cursor: pointer;

            width: 250px;
            height: 70px;

            padding: 0 2rem;
            margin-right: 2rem;

            h1{
                color: #fff;
                font-size: 19px;
                font-weight: 600;
            }

            transition: 1s ease all;
        }

        button:hover{
            background-color: #1d4dfa;
        }

        img{
            width: 45px;
        }

    }

    // GROW IMG
    .imgWeb{
        position: absolute;
        top: 50%;
        left: 70%;
        transform: translate(-70%, -50%);

        width: 40%;
    }

     //! MEDIA QUERIES FOR THE WEB

     @media screen and (min-width: 2561px) and (max-width: 4000px){
         header{
            p{
                font-size: 48px;
                margin: 7rem 0;
            }
            .main{ font-size: 60px; }
         }
         .imgWeb{ width: 45%; }

         .flexBtn{
            button{
                width: 560px;
                height: 180px;
                margin-right: 5rem;
                h1{ font-size: 48px; }
            }
            img{ width: 100px; }
         }
     }

     @media screen and (min-width: 1921px) and (max-width: 2560px){
         .imgWeb{
             width: 50%;
         }   
         
         header{
            p{
                font-size: 32px;
                margin: 5rem 0;
            }
            .main{ font-size: 37px; }
         }

         .flexBtn{
             button{
                 width: 430px;
                 height: 120px;
                 margin-right: 3rem;
                 
                 h1{ font-size: 30px; }
             }

            img{ width: 70px; }
         }
     }

     @media screen and (max-width: 1100px){
        .flexBtn{
            position: unset;
            margin: 5rem 0;
            display: flex;
            justify-content: space-around;
        }
        .imgWeb{
            position: unset;
            transform: translate(0);
            width: 60%;
            display: block;
            margin: 0 auto;
        }
        .main_title, header p{
            text-align: center;
        }
    }

    @media screen and (max-width: 900px){
        .imgWeb{ width: 100%; }
    }

    @media screen and (max-width: 500px) {
        .wrapper{ padding: 2rem; }
        .main_title{ font-size: 50px; }
    }

    @media screen and (max-width: 400px) {
        .flexBtn{
            display: block;
            button{
                width: 100%;
                margin-right: 0;
                margin: 2rem 0;
            }
        }
    }

    @media screen and (max-width: 350px){
        .main_title{ font-size: 47px; }
    }

    //! END OF MEDIA QUERIES FOR THE WEB

}

#mockups{
    min-height: 100vh;
    background-color: #3C67FF;

    .swiper-button-next, .swiper-button-prev{
        color: #FF6B2C;
    }

    .wrapper{

        .swiper-slide{
            @include center();
        }

        div h1{
            color: #fff;
            padding-bottom: 3rem;
            font-size: 45px;
            text-align: center;
        }
    }

    //! MEDIA QUERIES FOR MOCK UPS

    @media screen and (min-width: 2561px) and (max-width: 4000px){
        .wrapper div h1{font-size: 140px;padding-bottom: 9rem;}
        .imageSlide{
            width: 90%;
        }

        .swiper-button-prev:after, .swiper-button-next:after{
            font-size: 100px;
        }
    }

    @media screen and (min-width: 1921px) and (max-width: 2560px){
        .wrapper{
            div h1{
                font-size: 80px;
                padding-bottom: 5rem;
            }
            padding: 5rem;
        }
        .imageSlide{
            width: 80%;
        }
    }

    @media screen and (max-width: 500px){
        .wrapper{ padding: 2rem; }
    }

    //! END OF MEDIA QUERIES FOR MOCK UPS

}

footer{
    background-color: #fff;
    width: 100%;
    height: 10vh;

    .wrapper{
        height: 100%;
        width: 100%;

        padding: 0 5rem;
        margin: 0;
        
        display: flex;
        align-items: center;
        justify-content: space-between;

        div a{
            color: #000;
            font-weight: 600;
            font-size: 17px;
            padding: 1rem 2rem;
            border-radius: 45px;
            background-color: transparent;
            transition: 2s ease all;
        }
        
        a:hover{
            background-color: rgba(0,0,0,0.1);
        }

        .goOn{ cursor: pointer; }
    }

    @media screen and (max-width: 500px){
        .wrapper{ padding: 2rem; }
    }

    @media screen and (max-width: 400px){
        height: 25vh;

        .wrapper{
            padding: 3rem 2rem;
            flex-direction: column;

            div a{
                padding: 0 1rem;
            }
        }
    }
}

//! GENERAL 

@media screen and (min-width: 2561px) and (max-width: 4000px){
    #landingPage .wrapper, #web .wrapper, #mockups .wrapper{
        padding: 7rem;
    }

    #landingPage .main_title, #web .main_title, #mockups .main_title{
        font-size: 160px;
    }

    #landingPage nav ul li a, footer .wrapper div a{
        font-size: 40px;
    }
    footer .wrapper .goOn{ width: 100px; }
}
@media screen and (min-width: 1921px) and (max-width: 2560px){
    #landingPage .main_title, #web .main_title, #mockups .main_title{
        font-size: 100px;
    }
    #landingPage nav ul li a, footer .wrapper div a{
        font-size: 28px;
    }
    footer .wrapper .goOn{ width: 80px; }
}

@media screen and (max-width: 900px) and (orientation: landscape){
    footer{
        height: 25vh;
    }
}


